/* responsive */

@media screen and (max-width: 480px){
    a.carousel-control > span{ display: none;}
}

@media screen and (max-width:767px){
    .logo { width: 150px; padding-left: 10px;}
    .top-header { height: 60px;}
    .navbar-default .navbar-nav{ background: #222; margin-top: 0; }
    
    .big-heading{ font-size: 40px;}
    .carousel-heading{ font-size: 36px;}
    .carousel-resume-girl{ position: relative; left: 0; text-align: center;}
    .carousel-caption-normal{ position: relative; right: 0; text-align: center;}
    .carousel-heading , .carousel-sub-heading{ color: #222;}
}
@media screen and (max-width:992px){
      
}

@media screen and (min-width:481px)
{
     
}

@media screen and (min-width:768px){
    .navbar-default .navbar-nav > li.dropdown:hover > .dropdown-menu{ display: block; right: 10px;}


}