@font-face {
  font-family: 'Open';
  src: url('../fonts/open-sans.eot'); /* IE9 Compat Modes */
  src: url('../fonts/OpenSans.otf') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/open-sans.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/OpenSans.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/OpenSans.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/OpenSans.svg') format('svg'); /* Legacy iOS */
}